{:source-paths ["src" "test"]
 :dependencies [[binaryage/devtools "0.9.10"]
                [org.clojure/core.async "0.4.490"]
                [reagent "0.9.0-rc1"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js/app"
                :devtools {:http-port 8080
                           :http-root "resources/public"}
                :asset-path "./js/app"
                :modules {:main {:init-fn maze.core/main!
                                 :after-load maze.core/render!}}}
          :test {:target :browser-test
                 :test-dir "resources/public/js/test"
                 :devtools {:http-port 8606
                            :http-root "resources/public/js/test"}}
          :prod {:target :browser
                 :output-dir "target/cljs-advanced"
                 :modules {:main {:init-fn maze.core/main!}}
                 :compiler-options {:optimizations :advanced}}}}
