{:source-paths ["src"]
 :dependencies [[binaryage/devtools "0.9.10"]]
 :builds {:app {:target :browser
                :devtools {:http-port 8080
                           :http-root "resources"}
                :output-dir "resources/js/"
                :asset-path "./js"
                :modules {:main {:init-fn maze.core/main!}}}}}
