@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================================================
   UI */

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

button:active, button:focus, select:active, select:focus {
  outline: none;
}

.header {
  @apply flex items-center px-16 py-4 bg-blue-600
}

.logo-title {
  background-image: url(../img/boyscout.svg);
  @apply bg-no-repeat bg-contain w-6 h-6 inline-block;
}

.icon-graph {
  background-image: url(../img/graph.svg);
  @apply bg-no-repeat bg-contain w-5 h-5 inline-block;
}

.dropdown__select {
  @apply w-56 text-left tracking-wide text-lg px-3 py-1 text-gray-200
}

.dropdown__options {
  @apply rounded py-2 bg-white fixed z-10 shadow-md
}

.dropdown__option {
  @apply block cursor-pointer px-4 py-2 text-gray-700
}

.dropdown__option:hover {
  @apply bg-blue-600 text-white
}

.alert {
  animation: appear 0.5s;
  @apply bg-red-100 border-l-4 border-orange-500 text-red-700 p-4 fixed;
}

.u-link {
  @apply text-blue-700 underline;
}

.u-link:hover {
  @apply text-blue-500;
  text-decoration: none;
}

.btn {
  @apply border text-sm font-semibold rounded px-4 py-2 leading-normal shadow-md;
}

.btn--header {
  @apply text-white mx-4
}

.btn--header:hover {
  @apply bg-white text-blue-700
}

.btn--red {
  @apply bg-red-500 text-white border-none
}

.btn--red:hover {
  @apply bg-red-600
}

.animate-pulsing:before {
  animation: pulsing 0.8s linear alternate infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1.9);
  }
}


/* ============================================================================
   Board cells and animation */

table {
  border-collapse:collapse;
  cursor: pointer;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 216, 248);
}

.cell--source-animated {
  background: url(../img/triangletwo-right.svg) center no-repeat;
  background-size: contain;
  animation: grow 1s ease-out alternate;
}

.cell--source {
  background: url(../img/triangletwo-right.svg) center no-repeat;
  background-size: contain;
}

.cell--target-animated {
  background: url(../img/target.svg) center no-repeat;
  background-size: contain;
  animation: grow 1s ease-out alternate;
}

.cell--target {
  background: url(../img/target.svg) center no-repeat;
  background-size: contain;
}

.cell--visited-animated {
  animation: flash 1.5s ease-out alternate forwards;
}

.cell--visited {
  background-color: rgba(0, 190, 218, 0.75);
}

.cell--path-animated {
  animation: glow 1.5s linear alternate forwards;
}

.cell--path {
  background-color: rgb(255, 254, 106);
}

.cell--wall-animated {
  border: none;
  animation: blackhole 0.3s ease-out alternate forwards;
  animation-play-state: running;
}

.cell--wall {
  border: none;
  background-color: rgb(12, 53, 71);
}

@keyframes flash {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes grow {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes glow {
  0% {
    transform: scale(.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(255, 254, 106);
  }
}

@keyframes blackhole {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}
