@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================================================
   UI */

body {
  font-family: 'Raleway', sans-serif; /* YEAH */
}

.modal {
  animation: appear 0.3s ease-out;
}

button:active, button:focus, select:active, select:focus {
  outline: none;
}

.alert {
  transition: opacity 0.5s ease-in-out;
  @apply opacity-0 fixed bg-red-100 border-l-4 border-orange-500 text-lg text-red-700 font-bold;
}

.alert--is-open {
  @apply opacity-100;
}

.btn {
  @apply border font-semibold rounded px-4 py-2 leading-normal tracking-wider shadow;
}

.btn--red {
  @apply bg-red-500 text-white border-none
}

.btn--red:hover {
  @apply bg-red-600
}

.animate-pulsing:before {
  animation: pulsing 0.8s linear alternate infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1.9);
  }
}


/* ============================================================================
   Board cells and animation */

table {
  border-collapse:collapse;
  cursor: pointer;
}

.cell {
  width: 23px;
  height: 23px;
  border: 1px solid rgb(175, 216, 248);
}

.cell--source {
  background: url(../img/triangletwo-right.svg) center no-repeat;
  background-size: contain;
  animation: grow 1s ease-out alternate;
}

.cell--target {
  background: url(../img/target.svg) center no-repeat;
  background-size: contain;
  animation: grow 1s ease-out alternate;
}

.cell--target {
  background: url(../img/target.svg) center no-repeat;
  background-size: contain;
}

.cell--visited-animated {
  animation: flash 1.5s ease-out alternate forwards;
}

.cell--visited {
  background-color: rgba(0, 190, 218, 0.75);
}

.cell--path-animated {
  animation: glow 1.5s linear alternate forwards;
}

.cell--path {
  background-color: rgb(255, 254, 106);
}

.cell--wall-animated {
  border: none;
  animation: blackhole 0.3s ease-out alternate forwards;
  animation-play-state: running;
}

.cell--wall {
  border: none;
  background-color: rgb(12, 53, 71);
}

@keyframes flash {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes grow {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes glow {
  0% {
    transform: scale(.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(255, 254, 106);
  }
}

@keyframes blackhole {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}
